@{
    Layout = "Shared/_Authenticated.cshtml";
}

<h1>Kontoöversikt</h1>

<div>
    <strong>Twilio-konto:</strong>
    @if (Model.IsTwilioAccountConnected)
    {
        <a href="@Model.TwilioAccountManagementUrl" target="_blank">Anslutet</a>
    }
    else
    {
        <a href="@Model.TwilioConnectAuthorizationUrl">Anslut</a>
    }
</div>

@if (Model.IsTwilioAccountConnected)
{
    <div>
        <strong>Boxofonnummer:</strong>
        @if (string.IsNullOrEmpty(Model.BoxofonNumber))
        {
            <a href="/account/numbers/boxofon">Lägg till</a>
        }
        else
        {
            @Model.BoxofonNumber
        }
    </div>

    @if (!string.IsNullOrEmpty(Model.BoxofonNumber))
     {
         <div>
             <strong>Privat mobilnummer:</strong>
             @if (string.IsNullOrEmpty(Model.PrivatePhoneNumber))
             {
                 <a href="/account/numbers/private">Lägg till</a>
             }
             else
             {
                 @Model.PrivatePhoneNumber
             }
         </div>
     }
}

<div>
    <strong>E-postadress:</strong>
    @if (string.IsNullOrEmpty(Model.Email))
    {
        <a href="/account/email">Lägg till</a>
    }
    else
    {
        @Model.Email
    }
</div>

<div>
    <strong>Inloggningssätt:</strong>
    <a href="/account/identities">Hantera</a>
</div>